@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@font-face {
  font-family: calSans;
  src: url(assets/CalSans-SemiBold.ttf);
}

* {
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

:root {
  --bg-color: #fff;
  --second-bg-color: #F2F5FF;
  --text-color: #1C1A4E;
  --main-color: #1B3EB1;
}

html {
  overflow: auto;
  font-size: 1rem;
  scroll-behavior: smooth;
}

body {
  display: block;
  margin: 0px;
  padding: 0px;
}

/* NAVIGATION BAR */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem 5rem;
  background: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  box-shadow: 0px 3px 15px .8px #f1f1fb;
}

.sejutacita-logo {
  width: 6.8rem;
  height: 3rem;
  margin-top: .4rem;
  flex-shrink: 0;
  transform: scale(1);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.sejutacita-logo:hover {
  transform: scale(1.05);
}

.navigation-1 {
  justify-content: center;
  display: flex;
}

.navigation-1 a {
  padding: 1rem .8rem;
  transition: .5s ease;
  font-size: 1rem;
  color: var(--text-color);
  margin-left: 2rem;
  font-weight: 500;
  transform: translateY(0px);
}

.navigation-1 a:hover {
  color: var(--main-color);
  transform: translateY(-3px);
  transition: .5s ease;
}

.navigation-2 {
  justify-content: center;
  display: flex;
}

.navigation-2 a {
  padding: .5rem .8rem;
  transition: .5s ease;
  font-size: 1rem;
  margin-left: 2rem;
  font-weight: 500;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 25px;
  color: var(--bg-color);
  background-size: 200%;
  transition: .5s;
  font-weight: 500;
  font-size: 1rem;
  font-family: calSans;
  letter-spacing: .001rem;
  text-align: center;
  cursor: pointer;
  transform: translateY(0px);
}

.btn-SignUp {
  margin-left: 3rem;
  box-shadow: 0px 3px 15px .8px #4263cf60;
  background-image: linear-gradient(to right, #16328D, #4262CF, #16328D);
}

.btn-LogIn {
  padding: .8rem 2rem;
  border-radius: 25px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background-color: var(--bg-color);
  transition: .5s;
  font-weight: 500;
  font-size: 1rem;
  text-align: center;
  cursor: pointer;
  transform: translateY(0px);
  box-shadow: 0px 3px 15px .8px #4263cf23;
}

.btn-LogIn:hover {
  transform: translateY(2px);
  box-shadow: none;
}

.btn:hover {
  box-shadow: none;
  background-position: right;
  transform: translateY(2px);
}

/* NAVIGATION BAR ENDED*/


/* HERO SECTION */
.hero-section {
  padding: 5rem 3rem 0rem;
  display: flex;
}

/* LEFT */
.hero-left::before {
  content: "";
  width: 75%;
  height: 95%;
  position: absolute;
  opacity: 80%;
  background: url('assets/Gradient.svg') top left;
  background-size: cover;
  transform: translateZ(-1px);
  z-index: -100;
  transform: translateX(-5rem);
  animation: movee 8s ease infinite;
}

@keyframes movee {
  0% {
    transform: translateY(-10%);
  }

  50% {
    transform: translateY(10%);
    transform: translateX(-5%);
    transform: rotate(-100deg);
  }

  100% {
    transform: translateY(-10%);
  }
}

.hero-left h3 {
  margin: 5rem 0rem 1rem;
  width: 20rem;
  font-family: calSans;
  font-size: 2rem;
  color: var(--text-color);
}

/* TEXT WILL BE HERE */
.hero-left h1 {
  font-family: calSans;
  font-size: 5rem;
  margin: auto;
  color: var(--text-color);
  position: relative;
}

.animated-text{
  margin-top: 2rem;
  overflow: hidden;
  height: 5.5rem;
}

.line:first-child{
  animation: anim 8s infinite;
}

@keyframes anim {

  0%{
    margin-top: -20px;
  }
  16%{
    margin-top: -14px;
  }
  33%{
    margin-top: -120px;
  }
  50%{
    margin-top: -200px;
  }
  66%{
    margin-top: -115px;
  }
  82%{
    margin-top: -10px;
  }
  100%{
    margin-top: -20px;
  }
  
}

.hero-left p {
  margin-top: 2rem;
  font-size: 1rem;
  color: var(--text-color);
  position: relative;
  width: 30rem;
  line-height: 1.5rem;
}

.hero-left p span {
  text-decoration: underline;
  font-style: italic;
  font-weight: 800;
}

.btn1 {
  padding: 1.5rem 2.3rem;
  border-radius: 5rem;
  color: var(--bg-color);
  background-size: 200%;
  transition: .5s;
  font-weight: 600;
  font-size: 1.2rem;
  text-align: center;
  cursor: pointer;
  transform: translateY(0px);
}

.btn-cobaSejutacita {
  margin-top: 2rem;
  box-shadow: 0px 3px 15px .8px #4263cf60;
  background-image: linear-gradient(to right, #172B74, #524AC6, #F48445);
}

.btn1:hover {
  box-shadow: none;
  background-position: right;
  transform: translateY(2px);
}

/* RIGHT */
.hero-right::before {
  content: "";
  width: 62.6%;
  height: 100%;
  position: absolute;
  opacity: 80%;
  background: url('assets/gradient-bg-left.svg') top left;
  background-size: cover;
  transform: translateZ(-1px);
  z-index: -1;
  margin-left: -5rem;
}

.hero-right {
  width: auto;
  height: min-content;
}

.hero-right img {
  margin-top: 5rem;
  width: 40rem;
  height: 32rem;
}

/* HERO SECTION ENDED */

.text-wrapper {
  display: flex;
  justify-content: space-around;
  background: #FFFAE8;
  overflow: hidden;
  width: 100%;
}

.text-wrapper img {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 2rem;
}

.marquee {
  animation: marquee 3000ms linear infinite;
  color: #A6A3AC;
  font-size: 1.2rem;
  white-space: nowrap;
  width: 100%;
  padding: .2rem;
  display: flex;
  align-items: center;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(100%, 0);
  }
}

/* BENEFIT SECTION */

.section-benefit {
  display: flex;
  text-align: left;
  justify-content: center;
  width: 100%;
  gap: 3rem;
  padding: 1rem;
  color: var(--bg-color);
  background: linear-gradient(to right,
      #172B74,
      #524AC6,
      #524AC6,
      #966390);
}

.benefit {
  align-items: center;
  display: flex;
  gap: 1.2rem;
  line-height: normal;
}

.benefit img {
  width: 3rem;
  height: 3rem;
}

.benefit h4 {
  font-size: larger;
  margin: .8rem 0rem;
}

.benefit p {
  margin-top: 0px;
  width: 15rem;
  font-style: italic;
}

/* BENEFIT ENDED */


/* PROGRAM SEJUTACITA */

.title-section {
  text-align: center;
  font-size: 3rem;
  margin: 3rem 0rem 2rem;
  color: var(--text-color);
  font-family: calSans;
}

.container-program {
  display: flex;
  padding: 0rem 5rem 2rem;
  gap: 3rem;
}

.Program-1 {
  padding: 1rem 2rem 2.5rem;
  border-radius: 2rem;
  color: #f1f1fb;
  background: linear-gradient(to bottom right,
      #F7A52B,
      #BC2090);
}

.Program-2 {
  padding: 1rem 2rem 2.5rem;
  border-radius: 2rem;
  color: #f1f1fb;
  background: linear-gradient(to bottom right,
      #3360F5,
      #5C37AB);
}

.Program-3 {
  padding: 1rem 2rem 2.5rem;
  border-radius: 2rem;
  color: #f1f1fb;
  background: linear-gradient(to bottom right,
      #D54370,
      #2845AF);
}

.title-program {
  font-size: 1.5rem;
  font-family: calSans;
  letter-spacing: .010rem;
}

.desc-program {
  height: 7rem;
  width: 16rem;
  font-size: 1rem;
}

.see-more-1 {
  padding: .8rem 2rem;
  border-radius: 25px;
  color: #D65965;
  background-color: var(--bg-color);
  transition: .5s;
  font-weight: 500;
  font-size: 1rem;
  font-family: calSans;
  text-align: center;
  cursor: pointer;
  transform: translateY(0px);
  box-shadow: 0px 3px 15px .8px #4263cf23;
  background-image: linear-gradient(to right, #fff, #fff, #fff);

}

.see-more-2 {
  padding: .8rem 2rem;
  border-radius: 25px;
  color: #4E46C6;
  background-color: var(--bg-color);
  transition: .5s;
  font-weight: 500;
  font-size: 1rem;
  font-family: calSans;
  text-align: center;
  cursor: pointer;
  transform: translateY(0px);
  box-shadow: 0px 3px 15px .8px #4263cf23;
}

.see-more-3 {
  padding: .8rem 2rem;
  border-radius: 25px;
  color: #6B4598;
  background-color: var(--bg-color);
  transition: .5s;
  font-weight: 500;
  font-size: 1rem;
  font-family: calSans;
  text-align: center;
  cursor: pointer;
  transform: translateY(0px);
  box-shadow: 0px 3px 15px .8px #4263cf23;
}

.btn2 {
  cursor: pointer;
  opacity: 100%;
}

.btn2:hover {
  opacity: 50%;
  transform: translateY(2px);
}


/* PROGRAM SEJUTACITA ENDED */




/* APA KATA MEREKA */

.section-review {
  padding: .2rem;
  background-color: var(--second-bg-color);
  background: url('assets/Gradient-Bg.svg');
}

.container-review {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 1rem;
}

.container-profile-review {
  background-color: #ffffffae;
  padding: 1.5rem 2rem;
  border-radius: 2rem;
  border: 1.5px solid var(--main-color);
  margin: 1rem;
  transition: .5s;
}


.container-profile-review:hover{
  transform: rotate(3deg);
}

.box-review {
  display: flex;
  align-items: center;
}

.box-review img {
  width: 6rem;
  height: 6rem;
}

.container-text-review {
  margin-left: 1rem;
}

.container-text-review h1 {
  margin: .1rem .5rem;
  color: var(--text-color);
  font-size: 1.3rem;
}

.container-text-review h4 {
  margin: 0rem .5rem 0rem;
  color: var(--text-color);
  font-weight: 500;
  font-size: 1rem;
}

.label-review {
  margin: .5rem .5rem 0rem;
  padding: .3rem .6rem;
  border-radius: 1rem;
  background: linear-gradient(to bottom right,
      #3360F5,
      #5C37AB);
  color: var(--bg-color);
  font-weight: 500;
  font-size: .7rem;
  width: fit-content;
}

.review-sejutacita {
  color: var(--text-color);
  line-height: 1.5rem;
  font-size: .9rem;
  margin: 1rem 0rem 0rem;
}

/*  APA KATA MEREKA ENDED */


/* APP RECOMENDATION */

.section-app-rec {
  display: flex;
  justify-content: center;
  padding: 2rem;
  align-items: center;
}

.section-app-rec video {
  height: 35rem;
}

.app-rec-text {
  margin-left: 3rem;
  font-size: 2rem;
  width: 38rem;
  color: var(--text-color);
}

.app-rec-text span {
  margin-top: 1rem;
  background: linear-gradient(to bottom,
      transparent 50%,
      #ffc875 50%);
  font-style: italic;
}

.app-rec-text p {
  font-size: 1rem;
}

.download-on {
  display: flex;
}

.download-on img {
  width: 16rem;
  height: 5rem;
  margin-left: 1rem;
  transition: .5s ease;
}

.download-on img:hover {
  width: 16rem;
  height: 5rem;
  margin-left: 1rem;
  transform: scale(1.05);
  opacity: 70%;

}

/* APP RECOMENDATION ENDED */


/* FOOTER */

.footer {
  padding: 2rem 3rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  background-color: var(--second-bg-color);
}

.download-sejutacita img {
  width: 9rem;
  height: 9rem;
}

.box-footer {
  display: flex;
  flex-direction: column;
}

.box-footer p {
  width: 25rem;
  line-height: 2rem;
}

.box-footer a {
  color: var(--text-color);
  margin-top: 1rem;
}

.box-footer-2 {
  display: flex;
  flex-direction: column;
}

.box-footer-2 p {
  width: 25rem;
  line-height: 2rem;
}

.box-footer-2 a {
  color: var(--text-color);
  margin-top: 1rem;
}

.box-footer-2 a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.footer-title {
  font-size: 1rem;
  font-family: calSans;
}

.contact-detail {
  display: flex;
  align-items: center;
}

.contact-detail img {
  width: 1rem;
  height: 1rem;
  margin: 1.2rem .5rem 0rem;
}

.footer-2 {
  background-color: var(--second-bg-color);
  padding: 1rem 0rem;
  text-align: center;
}

.footer-2 h3 {
  color: var(--text-color);
  font-weight: 600;
  margin: 0rem 0rem 1rem;
}

.footer-2 h5 {
  color: var(--text-color);
  font-weight: 400;
  margin: 0rem;
}

/* FOOTER ENDED */

/* MEDIA QUERY */
@media (max-width: 991px) {
  html {
    width: 118%;
  }

  .hero-right::before {
    content: "";
    width: 72%;
    height: 100%;
    position: absolute;
    opacity: 80%;
    background: url('assets/gradient-bg-left.svg') top left;
    background-size: cover;
    transform: translateZ(-1px);
    z-index: -1;
    margin-left: -5rem;
  }
}

@media (max-width: 768px) {
  html {
    width: 137%;
    font-size: 90%;
  }

  .hero-left::before {
    content: "";
    width: 65%;
    height: 65%;
    position: absolute;
    opacity: 80%;
    background: url('assets/Gradient.svg') top left;
    background-size: cover;
    transform: translateZ(-1px);
    z-index: -100;
    margin-left: -5rem;
    animation: move;
    animation: movee 8s ease infinite;
  }

  .hero-right::before {
    content: "";
    width: 84%;
    height: 100%;
    position: absolute;
    opacity: 80%;
    background: url('assets/gradient-bg-left.svg') top left;
    background-size: cover;
    transform: translateZ(-1px);
    z-index: -1;
    margin-left: -5rem;
  }
}


@media (max-width: 320px) {
  html {
    width: 400%;
    font-size: 220%;
  }

  .hero-section {
    display: flex;
    flex-direction: column;
    padding: 3rem 5rem 0rem;
    text-align: center;
  }

  .header {
    display: none;
    justify-content: center;
  }

  .hero-left::before {
    content: "";
    width: 450%;
    height: 200%;
    position: absolute;
    opacity: 80%;
    background: url('assets/Gradient.svg') top left;
    background-size: cover;
    transform: translateZ(-1px);
    z-index: -100;
    transform: translateX(-18rem);
    animation: move;
    /* animation: movee 8s ease infinite; */
  }

  .section-benefit {
    display: flex;
    flex-direction: column;
  }

  .hero-left h3 {
    margin-top: 2rem;
    margin-left: 3rem
  }

  .hero-left p {
    transform: translateX(-2rem);
  }

  .hero-right::before {
    display: none;
  }

  .hero-right img {
    transform: translateX(-8rem);
  }

  .section-benefit {
    font-size: 130%;
    justify-content: center;
  }

  .section-benefit p {
    width: fit-content;
  }


  .container-program {
    display: flex;
    flex-direction: column;
    padding: 0rem 5rem 2rem;
    gap: 3rem;
  }

  .see-more-1,
  .see-more-2,
  .see-more-3 {
    margin: 0rem;
  }

  /* ini */
  .app-rec-text {
    margin-left: 1rem;
  }

  .section-app-rec video {
    height: 25rem;
  }

  .app-rec-text h1{
    font-size: smaller;
  }

  .app-rec-text img{
    width: 7rem;
    height: 2rem;
  }

  .container-review {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 1rem;
  }

  .footer,.contact-detail{
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .box-footer p {
    width: 30rem;}

}